@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nelson Mandela University<br />
    Summerstrand<br />
    <abbr title="Phone">P:</abbr>
    +2776840684
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bestbabysitter2022@gmail.com">support@bestbabysitter.com</a><br />
    <strong>Information:</strong> <a href="mailto:bestbabysitter2022@gmail.com">info@bestbabysitter.com</a>
</address>