@{
    ViewBag.Title = "Home";
}

<div class="slideshow-container">
    <div class="slideControlButtons" align="center">
        <a class="prev"> &#10094</a>
        <a class="next"> &#10095</a>
    </div>
    <div class="slide">
        <img src="@Url.Content("~/Content/Images/img1.jpg")" class="imgSlide" alt="Sample pic" />
        <div class="slideButtons" align="center">
             <a href="/Home/Parent_Login"><button id="btnFindSitter" class="normal-button slideBtn" onclick="location.href('/Home/Parent_Login');">Find a Sitter</button></a>
            <a href="/Home/Sitter_Login"><button id="btnBecomeSitter" class="action-button slideBtn" onclick="location.href('/Home/Sitter_Login');">Become a Sitter</button></a>

        </div>
    </div>

</div>

