@model IEnumerable<Best_BabySitter.Models.Sitter>

@{
    ViewBag.Title = "Suspend_User";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@if (TempData["alertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @TempData["alertMessage"].ToString().</strong>
    </div>
    TempData["alertMessage"] = null;
}
else if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @TempData["errorMessage"].ToString().</strong>
    </div>
    TempData["errorMessage"] = null;
};
<div class="manage-adverts-container" style="display:flex">
    @{
        <div class="manage-adverts-container-item open-advert-board">
            <div class=" dashboard-event-adverts">
                @{
                    int count = 0;
                    foreach (var sitter in Model)
                    {
                        <div class="sitter-container-block" onclick="">
                  
                           <label>@sitter.L_name @sitter.f_name</label>
                        </div>
                        count++;
                    }
                }


            </div>
        </div>
        <div class="manage-adverts-container-item manage-advert-board">
            <div class="manage-advert">
                <p class="manage-advert-btn">
                    <a class="manage-advert-nav edit-advert-btn">
                        Profile
                    </a>
                    <a class="manage-advert-nav manage-advert-responses-btn">
                        Reviews
                    </a>
                </p>

                <div class="edit-advert-container">
                    <h2 class="advert-response-sitter-name"></h2><img class="sitter_profile-pic" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80" alt="profile_pic" /><br />
                    <label><i class="fa fa-at"></i><a class="advert-response-sitter-email"></a></label>
                    <label><i class="fa fa-phone"></i><a class="advert-response-sitter-phone"></a></label>
                    <label><i class="fa fa-map-pin"></i><a class="advert-response-city"></a></label>
                    <label><i class="fa fa-money-bill"></i>Charge Per Service <a class="advert-response-sitter-charge"></a></label>
                    <label>Service Duration <a class="advert-response-sitter-duration"></a></label><br />
                    <h3>About Me</h3>
                    <p class="advert-response-sitter-about">
                        no results found
                    </p>
                    <h3>Experience</h3>
                    <p class="advert-response-sitter-experience">
                        no results found
                    </p>
                    <br />
                    <h3>Education</h3>
                    <p class="advert-response-sitter-education">
                        no results found
                    </p>

                    <input type="button" class="action-button" style="float:right" value="ASSIGN SITTER TO JOB" />
                </div>
                               
                <div class="edit-advert-reposonse-container">
                  
                </div>
            </div>
        </div>
    }

</div>

